
<footer>
    <div class="container-xxl flex-wrap pt-3 d-flex align-items-center justify-content-between">
      <p>Copyright © 2023 G5 Surveys    ||   Web App Development Group Project   || Centennial College </p>
      <ul class="social-icons d-flex">
        <a href=" " class="bg-primary mx-2 text-white d-flex align-items-center justify-content-center text-decoration-none rounded-circle"><small><i class="fa-brands fa-twitter"></i></small></a>
        <a href=" " class="bg-primary mx-2 text-white d-flex align-items-center justify-content-center text-decoration-none rounded-circle"><small><i class="fa-brands fa-facebook-f"></i></small></a>
        <a href=" " class="bg-primary mx-2 text-white d-flex align-items-center justify-content-center text-decoration-none rounded-circle"><small><i class="fa-brands fa-linkedin-in"></i></small></a>
      </ul>
    </div>
   </footer>